body {
  margin: 5px;
  font-family: "Roboto", san-serif;
  font-weight: 400;
  border-radius: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("Background.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home {
  text-align: center;
  margin: 5px;
  font-family: "Roboto", san-serif;
  font-weight: 400;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;

}

a {
  color: white;
}