:root {
    --primary: #172c8a;
    --pitch: #8a2be2;
    --rhythm: #ff0000;
    --intonation: #008000;
    --white: #fdfdfd;
    --dark: #181717;
}

.btn {
    display: inline-block;
    font-family: "Roboto", san-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translate(-3px);
    filter: brightness(.750);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    margin: 5px;
}

.btn--primary--solid-go-back {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    /* margin-right: 45%; */
    margin: 5px;
}

.btn--pitch--solid {
    background-color: var(--pitch);
    color: var(--white);
    border: none;
    margin: 5px;
}

.btn--rhythm--solid {
    background-color: var(--rhythm);
    color: var(--white);
    border: none;
    margin: 5px;
}

.btn--intonation--solid {
    background-color: var(--intonation);
    color: var(--white);
    border: none;
    margin: 5px;
}

.btn--medium {
    padding: 1.5vh 4vw;
    /* padding: 10px 20px; */
    font-size: 18px;
}

.btn--large {
    padding: 2vh 15vw;
    /* padding: 15px 30px; */
    font-size: 20px;
}